body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6,p, span, ul, li {
    margin: 0;
    padding: 0;
}
html {
    background-color: #fff;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}   
header {
    background: #333;
    color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
}
header nav {
    text-align: center;
    margin-top: 10px;
}
header nav ul {
    list-style: none;
    padding: 0;
}
header nav ul li {
    display: inline;
    margin: 0 15px;
}
header nav ul li a {
    color: #fff;
    font-weight: 500;
}

header nav ul li a:hover {
    color: #f0f0f0;
}
.search-container {
    text-align: center;
    margin: 20px 0;
}
.search-container a i {
    color: #fff;
    font-size: 1em;
}
.search-container a i:hover {
    color: #c7baba;
}

.search-container a {
    margin-left: 10px;
}


/* footer  css */
.footer-content {
    background: #595959;
    color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    width: 25%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px;
    text-align: center;
    margin-right: 20px;
}
.footer-logo img {
    width: 200px;
    max-width: 100%;
    height: auto;
}
.footer-logo a {
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    margin-right: 20px;
}
.footer-logo a:hover {
    color: #c7baba;
}
.footer-menu-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    
}
.footer-menu-links ul {
    list-style: none;
    padding: 0;
}
.footer-menu-links ul li {
    margin: 0;
    padding: 10px 0;

}

.footer-menu-links ul li a {
    color: #fff;
    font-size: .8em;
    font-weight: 300;
}
.footer-menu-links ul li a:hover {
    color: #c7baba;
}
.about-links, .privacy-links, .customer-services {
    width: 33%;
}
.footer-menu-links h3 {
    color: #9c9999;
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 400;
}
.contact-details {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 30px 0 10px;
}
.contact-details p {
    color: #fff;
    font-size: .8em;
    font-weight: 300;
    padding: 10px 0;
}
.contact-details h3 {
    color: #9c9999;
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 400;
}
.footer-bottom {
    background: #EF1733;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: .8em;
}
.contact-details p a {
    color: #fff;
    text-decoration: none;
}
.contact-details p a:hover {
    color: #c7baba;
}

/* Banner section */
.banner-image img {
    width: 100%;
    height: auto;
    display: block;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: scrollingzoominout   2s ease-in-out;
}
@keyframes scrollingzoominout {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.banner-section .container{
    position: relative;
    
}
.banner-content {
    position: absolute;
    bottom: 0%;
    left: 0;
    transform: translate(5%, -30%);
    color: #fff;
    width: 100%;
}
 .banner-content h1 {
      font-size: 5em;
      line-height: 1em;
    overflow: hidden;
      display: flex;
      flex-wrap: wrap;
    }
 .line-break {
      flex-basis: 100%;
      height: 30px; /* space between lines */
    }
    .letter {
      opacity: 0;
      transform: translateY(100px);
      display: inline-block;
      animation: slideUp 0.8s forwards;
    }

    @keyframes slideUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    /* Discount Section */

.discount-row {
    display: flex;
    justify-content: space-between;
      background-image: url(images/bn5.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 1px solid #ccc;

}
.discount-col {
    width: 50%;
    background-color: #F5F5F5;
    padding: 20px 30px;
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.discount-image img {
    width: 100%;
    height: auto;
    display: block;
}
.discount-image {
    width: 50%;
}
.discount-text h2 {
    font-size: 3em;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #5C5C5C;
}
.discount-text p {
    font-size: 2.6em;
    margin-bottom: 20px;
    color: #5C5C5C;
    text-transform: capitalize;
    line-height: 1.2em;
    margin-bottom: 20px;
}
.btn-text { 
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn-text p {
    font-size: 1em;
    color: #5C5C5C;
    font-weight: 500;
}
.btn-text a i {
    margin-left: 5px;
}
.btn-text a {
    font-size: 0.8em;
    display: inline-block;
    background: #5C5C5C;
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: ease 0.3s;
    white-space: nowrap;
}
.btn-text a:hover {
    background: #c7baba;
    cursor: pointer;
    transition: ease 0.3s;
}

/* Best Seller Section */
.best-seller-section {
    padding: 80px 40px;
}
.best-sale-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.best-seller-item {
    width: 23%;
    margin-bottom: 30px;
    background: #F5F5F5;
    border-radius: 10px;
    text-align: center;
   
}
.best-seller-section h3 {
    font-size: 3em;
    line-height: 1.2em;
    text-transform: capitalize;
    color: #5C5C5C;
    margin-bottom: 30px;
}
.best-sale-content {
    padding: 20px;
}
.best-sale-content h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}
.best-sale-content p {
    font-size: 1em;
    color: #F24A4A;
    margin-bottom: 4px;
}  
a.red {
    color: #F24A4A;
}
a.yellow {
    color: #D38A35;
}
a.blue {
    color: #4B6BB4;
}
a.brinjal {
    color: #8356AF;
}
.product-color {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* our product section */
.product-section {
  display: flex;
  align-items: flex-start;
 justify-content: space-between;
  font-family: sans-serif;
  padding: 0 50px;
}
.our-product-section h3 {
  font-size: 3em;
  line-height: 1.2em;
  text-transform: capitalize;
  color: #5C5C5C;
  margin-bottom: 30px;
  text-align: right;
  margin-right: 45px;
}
.product-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-list li {
  font-size: 2em;
  line-height: 1.2em;
  color: #aaa;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  padding-left: 20px;
}

.product-list li:hover,
.product-list li.active {
  color: #464646;
  font-weight: bold;
}

.product-list li:hover::before,
.product-list li.active::before {
  content: "»";
  position: absolute;
  left: 0;
  top: 0;
  color: #000;
}

.product-image img {
  width: 400px;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}
/* logo section */
.our-product-section {
    padding: 0 0 80px;
}
.logo-section {
  overflow: hidden;
  width: 95%;
  background: #fff;
  padding: 20px 50px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}

.logo-track {
  display: flex;
  width: max-content;
  animation: scrollMarquee 20s linear infinite;
}

.logo-track li {
  list-style: none;
  margin: 0 30px;
  flex: 0 0 auto;
}

.logo-track img {
  height: 60px;
  width: auto;
  display: block;
}

/* Marquee Animation */
@keyframes scrollMarquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.logo-section:hover .logo-track {
  animation-play-state: paused;
}
/* strip section */
.strip-section {
   
    padding: 0px 40px 80px;
}

.strip-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
        padding: 60px 40px 35px;
        background-color: #F5F5F5;
}

.strip-col {
    width: calc(33% - 30px);
    margin: 0 15px 20px;
}
.strip-content {
    display: flex;
    gap: 20px;
}

.strip-icon i {
    color: #9D9D9D;
    font-size: 30px;
}
.strip-icon {
    padding: 30px;
    border-right: 2px solid #9D9D9D;
    height: 90px;
    border-radius: 50%;
}
.strip-text h4 {
    font-size: 18px;
    text-transform: capitalize;
    color: #5c5c5c;
    line-height: 1.3;
    margin-bottom: 10px;
    padding-right: 25%;
}
.strip-text p {
    font-size: 15px;
    color: #000;
    line-height: 1.4em;
    margin-bottom: 10px;
}
.product-btn a.btn-text {
    background-color: #9D9D9D;
}
.product-row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.product-col {
    width: calc(50% - 30px);
    margin: 0 15px 20px;
}

.product-btn p {
    font-size: 15px;
    color: #000;
    line-height: 1.6em;
    margin-bottom: 30px;
    width: 60%;
}

/* our clients */
.brand-row {
    display: flex;
    align-items: center;
    padding: 40px 40px 80px;
    background-color: #F5F5F5;
}
.our-client-col {
    width: 30%;
    padding-right:30px;
}

.all-heading h3 {
    font-size: 2em;
    color: #5C5C5C;
    margin-bottom: 20px;
}
.brand-col {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
     width: 70%;
     overflow: hidden;
     padding-left: 30px;
}
.logo-client {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scrollMarquee 20s linear infinite;
}
/* three images section */
.three-images-section {
    padding: 0 0 40px;
}

.three-images-row {
    display: flex;
    justify-content: space-between;
}

.image-col1 {
    width: 60%;
    padding: 0 15px;
}
.image-col2 {
    width: 40%;
    padding: 0px 0 0 8px;
}
.image-col img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 302px;
    margin-bottom: 15px;
}
.image-col2 img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 625px;
}
.image-col, .image-col2 {
    position:relative
}
.image-col h3, .image-col2 h3 {
    position: absolute;
    left: 20px;
    bottom: 33px;
    font-size: 2.5em;
    color: #fff;
    text-shadow: 0 0 5px black;
    line-height: 1.2em;
}


/* why threadworks */
.why-threadworks {
    padding: 40px 0;
}
.why-threadworks-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    background-color: #F5F5F5;
}
.why-threadworks-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.why-threadworks-col h3 {
    font-size: 2.5em;
    color: #5C5C5C;
    margin-bottom: 20px;
    line-height: 1.2em;
    font-weight: 600;
    width: 60%;
}
.why-threadworks-col p {
    font-size: 0.8em;
    color: #7D7D7D;
    line-height: 1.6em;
    font-weight: 400;
    width: 40%;
}
.why-threadworks-row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #F5F5F5;
      padding: 0px 40px 50px;
}
.why-threadworks-col2 {
    width: 24%;
    margin-bottom: 30px;
    border-radius: 10px;
}
.thread-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 350px;
    cursor: pointer;
}
.thread-image {
    position: relative;
}
.thread-image h4 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0 0 5px black;
    line-height: 1.2em;
    width: 70%;
}
.thread-image:before {
    content: "";
    background: #ccccccdb;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 98%;
    border-radius: 10px;
    transition: ease 1s;
    overflow: hidden;
}
.thread-image:hover:before {
    width: 0%;
    height: 0%;
    opacity: 0; 
    transition: ease 1s;
    overflow: hidden;
    cursor: pointer;
}

/* testimo section */
.testimonial-section {
    padding: 0px 0 30px;
}
.testimonial-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
    background-color: #fff
}
.testimonial-col  {
    width:50%
}

.product-content p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6em;
    font-weight: 400;
    width: 80%;
    margin-bottom: 20px;
}
.test-icon i {
    font-size: 5em;
    color: #E6E6E6;
    margin-bottom: 15px;
}
.testimo-content h4 {
    font-size: 0.8em;
    color: #333;
    font-weight: 400;
    margin-bottom: 10px;
}
#testimo .owl-nav .owl-prev {
    color: #fff;
    position: absolute;
    height: 40px;
    top: 104%;
    left: 0%;
    border-radius: 50%;
    width: 40px;
    background: #595959;
}
#testimo .owl-nav .owl-next {
    color: #fff;
    position: absolute;
    height: 40px;
    top: 104%;
    left: 9%;
    border-radius: 50%;
    width: 40px;
    background: #595959;
}
#testimo .owl-nav .owl-prev span {
    font-size: 25px;
}
.name {
    font-size: 15px;
    font-weight: 400;
    color: #5c5c5c;
}

#testimo .owl-nav .owl-prev span {
    font-size: 25px;
}

#testimo .owl-nav .owl-next span {
    font-size: 25px;
}
@keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOutRight {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  .slideInRight {
    animation: slideInRight 0.6s ease both;
  }
  
  .slideOutRight {
    animation: slideOutRight 0.6s ease both;
  }
  #testimo button.owl-dot {
    background-color: #D9D9D9;
    width: 5px;
    height: 5px;
    display: flex;
    border-radius: 50px;
    margin: 0 3px;
    border: 1px solid #000;
}
#testimo .owl-dots {
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
    left: 22%;
    bottom: 23%;
}
#testimo button.owl-dot.active {
    background-color: #f5f5f5;
}
.common-heading h3, .common-heading h1, .common-heading h2 {
    font-size: 2.5em;
    color: #5C5C5C;
    margin-bottom: 20px;
    line-height: 1.2em;
    font-weight: 600;
    text-align: right;
}
.testimonial-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
}
/* store map */
.store-location {
    margin-top: 30px;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
}
.store-location iframe {
    width: 100%;
    height: 400px;
    border: none;
}
.store-content .common-heading h3 {
    text-align: left;
}
.our-store-section {
    padding: 0 0 50px;
}
/* --------------------------------------------our story page--------------------------------------------- */

/* story pages */
.story-banner-row {
    display: flex;
    align-items: flex-end;
    background-color: #A80016;
    border-radius: 20px;
}
.story-bannner-content-col {
    width: 50%;
    padding-left: 30px;
    padding-right: 20px;
    height: 100%;
}
.story-banner-image-col {
    width: 50%;
    padding: 20px;
    position: relative;
}
.story-banner-content p {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    line-height: 1.6em;
    margin-bottom: 40px;
}
.story-banner-content {
    padding: 0 20px;
}
.story-banner-image img {
    width: 100%;
    object-fit: contain;
}
.our-story-section .container{
    background-color: #FAFAFA;
    padding: 30px 40px;
}
.our-story-section .common-heading h1{
    text-align: left;
    margin-bottom: 30px;   
}
/* introducing threadwork */
.introducing-threadwork {
    padding: 30px 0;
}
.introducing-threadwork .common-heading h2 {
    text-align: left;
    margin-bottom:100px;
    position: relative;
    padding-right:30px;
}
.thread-row {
    display: flex;
    flex-wrap: wrap;
}
.thread-col {
    width: 50%;
    padding: 0 20px 0 0;
}
.thread-col p {
     font-size: 1em;
    color: #555;
    line-height: 1.6em;
    font-weight: 400;
    position:relative;
     width: 75%;
}
.thread-col h3 {
     font-size: 1.2em;
    color: #333;
    line-height: 1.6em; 
    padding-right:20px;
    position:relative;
    font-weight: 600;
    width: 75%;
}
.thread-col h3:before, .thread-col p:before {
    content: "";
    background: #DB232A;
    width: 70px;
    height: 4px;
    position: absolute;
    top: -25px;
    left: 0;
}
.introducing-threadwork {
    padding: 50px 0;
}

/* threadwork triangle section */

.thread-triangle-section .container {
    background-color: #F5F5F5;
        padding: 30px 40px;
}
.triangle-row {
    display: flex;
    align-items: center;
}
.triangle-col {
    width: 50%;
}
.info-image img {
    max-width: 100%;
    object-fit: contain;

}
.triangle-content p {
    font-size: 0.8em;
    line-height: 1.6em;
    text-align: right;
    color:#5c5f5c;
    width:80%;

}
.triangle-content {
    display: flex;
    flex-direction: column;
    align-items: self-end;
}

/* our-team-section */

.our-team-section .container {
    background-color: #FAFAFA;
    padding: 80px 40px;
}
.our-team-row {
    display: flex;
    align-items: center;

}
.our-team-col {
    width: 50%;
}
.team-content {
    width: 80%;
}
.our-team-section .common-heading h3 {
   text-align: left;
}
.team-content h4 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
}
.team-content p {
    font-size: 1em;
    color: #555;
    line-height: 1.6em;
}
.team-image img {
    max-width: 100%;
    object-fit: cover;
}


/* ---------------------------------Responsive css -------------------------------------------- */

@media(min-width:769px) and (max-width: 991px) {
.banner-content h1 {font-size: 4em; line-height: .8em;}
.banner-content h1 .line-break {display: none;}
.banner-content h1 .letter {font-size: 0.8em;}
header h1 {font-size: 2em;}
header nav ul li a { font-size: 0.9em;}
.search-container a i {font-size: 1.2em;}
header nav {display: none;}
.search-container {text-align: center; margin: 20px 0;display: flex;}
.search-container a {font-size: 0.9em; padding: 8px 4px;}
.search-container a i {font-size: 1.2em;}
.footer-content { flex-direction: column; align-items: center;}
.footer-logo { width: 100%; text-align: center; margin-bottom: 20px;}
.footer-menu-links { width: 100%;  margin-bottom: 20px;}
.btn-text { flex-direction: column;}
.container { width: 100%;}
.strip-section { padding: 0px 20px 50px; }
.strip-row {  padding: 60px 10px 35px;}
.product-list li {font-size: 1.5em;}
.our-product-section h3 { font-size: 2.3em; }
.best-seller-section { padding: 50px 20px;}
.best-sale-content h4 { font-size: 1em;}
.our-product-section {padding: 0 0 50px;}
.strip-icon { padding: 20px; height: 70px;}
.brand-row { flex-direction: column;}
.our-client-col { width: 100%;margin-bottom: 30px;}
.brand-col {width: 100%; display: flex; flex-wrap: wrap; justify-content: center;}
.contact-details { width: 100%;}
#testimo .owl-nav .owl-next { left: 15%;}
    
   

}







@media (max-width: 768px) {
.our-team-row {flex-direction: column;}
.our-team-col { width: 100%;margin-bottom: 30px;}
.team-content { width: 100%;}
.team-image {margin-bottom: 20px;}
.story-banner-row {flex-direction: column;}
.story-bannner-content-col, .story-banner-image-col { width: 100%;padding: 20px;}
.story-banner-image img { width: 100%; height: auto;}
.story-banner-content p { font-size: 14px; margin-bottom: 20px;}
.story-banner-content {padding: 0 20px;}
.story-banner-content h1 {font-size: 2.5em; margin-bottom: 20px;}
.story-banner-content h2 {font-size: 2em; margin-bottom: 10px;}
.story-banner-content h3 { font-size: 1.5em; margin-bottom: 10px;}
.story-banner-content h4 {font-size: 1.2em; margin-bottom: 10px;}
.story-banner-content h5 {font-size: 1em; margin-bottom: 10px;}
.story-banner-content h6 { font-size: 0.8em; margin-bottom: 10px;}
.story-banner-content p {font-size: 14px;line-height: 1.4em;}
.story-banner-content { padding: 0 20px;}
.introducing-threadwork .common-heading h2 {text-align: left; margin-bottom: 50px;}
.thread-row {flex-direction: column;}
.thread-col { width: 100%; padding: 0 20px; margin-bottom: 30px;}
.thread-col p { width: 100%;font-size: 0.9em;}
.thread-col h3 { width: 100%;font-size: 1.2em; margin-bottom: 20px;}
.triangle-row { flex-direction: column;}
.triangle-col { width: 100%; padding: 0 20px; margin-bottom: 0px;}
.info-image img {width: 100%; height: auto; margin-bottom: 20px;}
.triangle-content {width: 100%;text-align: center; align-items: flex-start;}
.triangle-content p {width: 100%; text-align: left; font-size: 0.9em;}
.our-product-section { padding: 0 20px;}
.product-section { flex-direction: column; align-items: flex-start;padding: 0 0;}


.product-item {
    width: 100%;
    max-width: 300px;
    margin: 20px;
}
.product-item img {
    width: 100%;
    height: auto;
}
.product-item h4 {
    font-size: 1.2em;
    margin: 10px 0;
}
.product-item p {
    font-size: 0.9em;
    color: #555;
}
.product-item a {
    font-size: 0.8em;
    padding: 8px 15px;
}
.product-list li {
    font-size: 1.5em;
    margin-bottom: 15px;
}
.product-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.product-row {
    flex-direction: column;
    align-items: center;
}
.product-col {
    width: 100%;
    margin-bottom: 30px;
}
.product-btn p {
    width: 100%;
    font-size: 0.9em;
}
#testimo .owl-dots {
left: 0px;
bottom: 0px;
}
#testimo button.owl-dot {
    width: 10px;
    height: 10px;

}
.common-heading h3, .common-heading h1, .common-heading h2 {
    font-size: 2em;
    text-align: left;
}

.header-section {
    flex-direction: column;
    align-items: center;
}
header h1 {
    font-size: 2em;
    text-align: center;
}
header nav ul li {
    display: block;
    margin: 10px 0;
}
header nav ul li a {
    font-size: 1em;
}
.search-container {
    text-align: center;
    margin: 20px 0;
    display: flex;
}
.search-container a i {
    font-size: 1.2em;
}
.search-container a {
    font-size: 0.9em;
    padding: 8px 4px;
}
header nav {
display: none;
}
.banner-content {
width: 92%;
}
.banner-content h1 {
    font-size: 1.1em;
    text-align: center;
    line-height: 1;
}
.banner-content h1 .line-break {
    display: none;
}
.banner-content h1 .letter {
    font-size: 2em;
    animation: slideUp 0.8s forwards;
}

.banner-image img {
height: 280px;
}
.discount-row {
    flex-direction: column;
}
.discount-col {
    width: 100%;
    margin-bottom: 30px;
}
.discount-image img {
    width: 100%;
    height: auto;
}
.best-seller-section {
    padding: 40px 20px;
}
.best-sale-row {
    flex-direction: column;
}
.best-seller-item {
    width: 100%;
    margin-bottom: 30px;
}
.best-seller-item img {
    width: 100%;
    height: auto;
}
.best-sale-content {
    padding: 20px;
    text-align: center;
}
.best-sale-content h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.best-sale-content p {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.best-sale-content a {
    font-size: 1em;
    padding: 10px 0px;
}
.our-product-section h3 {
font-size: 2.2em;
text-align: left;
margin-right: 0;
}
.logo-section {
    padding: 20px 0;
}
.logo-track {
    align-items: center;
}
.logo-track li {
    margin: 10px 0;
}
.logo-track img {
    height: 50px;
}
.strip-section {
    padding: 20px 0;
}
.strip-row {
justify-content: space-between;
padding: 40px 20px 35px;
}
.why-threadworks {
padding: 0px 0 30px;
}
.strip-col {
    width: 100%;
    margin-bottom: 20px;
}
.strip-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.strip-icon {
    margin-bottom: 20px;
}
.strip-icon i {
    font-size: 40px;
}
.strip-text h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    padding-right: 0;
}
.strip-text p {
    font-size: 1em;
    margin-bottom: 10px;
}
.product-btn a {
    font-size: 0.9em;
    padding: 10px 20px;
}
.brand-row {
    flex-direction: column;
    padding: 20px 20px 40px;
}

.our-client-col {
    width: 100%;
    margin-bottom: 30px;
}
.brand-col {
    width: 100%;
}
.brand-col img {
width: auto;
height: auto;
margin: 0 10px 20px;
}
.three-images-section {
    padding: 20px 0;
}
.three-images-row {
    flex-direction: column;
}
.image-col1, .image-col2 {
    width: 100%;
    margin-bottom: 0px;
}
.image-col img {
    width: 100%;
    height: auto;
}
.image-col2 img {
    width: 100%;
    height: 300px;
}
.image-col h3, .image-col2 h3 {
    font-size: 1.5em;
    left: 10px;
    bottom: 42px;
}
.image-col1 {
padding: 0 0px;
}
.image-col2 {
    padding: 0px 0 0 0px;
}

.why-threadworks-row {
    flex-direction: column;
        margin-bottom: 0px;
}
.test-icon i {
font-size: 4em;

}
.product-content {
padding: 0 0px 20px;
}
.why-threadworks-col {
    flex-direction: column;
    
}
.why-threadworks-col h3 {
    font-size: 2em;
    margin-bottom: 20px;
    width: 100%;
}
.why-threadworks-col p {
    font-size: 0.9em;
    width: 100%;
}
.why-threadworks-row2 {
padding: 0px 20px 0px;
}
.why-threadworks-col2 {
    width: 100%;
    margin-bottom: 20px;
}
.thread-image img {
    width: 100%;
    height: 350px;
}
.thread-image h4 {
    font-size: 1.5em;
    left: 10px;
    bottom: 30px;
}
.testimonial-section {
    padding: 20px 0 0;
}
.testimonial-row {
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.testimonial-item {
    width: 100%;
    margin-bottom: 30px;
}
.testimonial-col{
    width: 100%;
}
.testimonial-item img {
    width: 100%;
    height: auto;
}
.testimonial-item h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.testimonial-item p {
    font-size: 1em;
    margin-bottom: 10px;
}
.testimonial-item a {
    font-size: 0.9em;
    padding: 10px 20px;
}
.store-location {
    width: 100%;
    margin-top: 20px;
}
.store-location iframe {
    height: 300px;
}
.store-content .common-heading h3 {
    text-align: center;
    margin-bottom: 20px;
}
.our-store-section {
    padding: 20px 0;
}
.footer-section {
    flex-direction: column;
    align-items: center;
}
.btn-text {
flex-direction: column;

}.discount-image {
width: 50%;
height: 175px;
}
.discount-row {
background-size: contain;
background-position: left bottom;

}
.discount-text p {
font-size: 2em;

}
.best-seller-section h3 {
font-size: 2.2em;
line-height: 1.2em;
}
.best-seller-item img {
width: auto;
object-fit: contain;
height: auto;
}
.footer-content {
flex-direction: column;
}
.footer-logo {
width: 100%;
}
.footer-logo img {
width: 200px;
margin-bottom: 20px;
}
.social-share {
margin: 0 0 30px;
}
.footer-menu-links {
width: 100%;
flex-direction: column;
padding: 0 20px;
}
.about-links, .privacy-links, .customer-services {
width: 100%;
margin-bottom: 20px;
}
.contact-details {
width: 100%;
padding: 0 20px;
}
.footer-menu-links h3 {
font-size: 1.3em;
}
.our-story-section .container {
padding: 30px 0px;
}
.introducing-threadwork .common-heading h2 {
padding-left: 20px;
}
.introducing-threadwork {
padding: 50px 0 0px;
}
.thread-triangle-section .container {
padding: 30px 0px;
}
.our-team-section .container {
padding: 30px 20px;
}
.our-story-section .common-heading h1 {
padding-left: 15px;
}
.our-team-col:last-child {
margin-bottom: 0;
}
.contact-details h3 { font-size: 1.3em;}


}
